.base-menu {
  margin: 10px;
  padding: 0;
  list-style: none;
  font-size: 16px;

  .base-menu__link {
    color: $gray;
    text-decoration: none;
    padding: 5px 10px;
    margin: 1px;
    display: block;

    i {
//      vertical-align: middle;
      margin-right: 10px;
      font-size: .8em;
    }

    &.active {
      background: $brand-info;
      color: $white;
      border-radius: 4px;

      &:hover {
        background: $brand-info;
      }
    }
    &:hover {
      background: darken($blue-dark,1);
    }
  }
}

