<div class="page-content">
  <h4 class="padT-10  padB-10">State</h4>


  <h3 class="padT-10  padB-10">{{today | date:'mediumDate'}}</h3>

  <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="panel panel-success">
              <div class="panel-heading">
                  <h3 class="panel-title">Summary</h3>
              </div>
              <div class="panel-body">
                  <p>EVENT_ERR: 0</p>
                  <p>EVENT_OK: 1233</p>
                  <p>LAST_EVENT: 8/12/2015</p>
                  <p>FixCount: 1</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Group 1</h3>
              </div>
              <div class="panel-body">
                  <p>Param 1 <span class="point label-success"></span> Value 1</p>
                  <p>Param 1 <span class="point label-danger"></span> Value 1</p>
                  <p>Param 1 <span class="point label-success"></span> Value 1</p>
                  <p>Param 1 <span class="point label-success"></span> Value 1</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Group 2</h3>
              </div>
              <div class="panel-body">
                  <p>Param 1 <span class="point label-success"></span> Value 1</p>
                  <p>Param 1 <span class="point label-danger"></span> Value 1</p>

              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Group 3</h3>
              </div>
              <div class="panel-body">
                  <p>Param 1 <span class="point label-success"></span> Value 1</p>
                  <p>Param 1 <span class="point label-success"></span> Value 1</p>
                  <p>Param 1 <span class="point label-success"></span> Value 1</p>

                  <p>Param 1 <span class="point label-success"></span> Value 1</p>
                  <p>Param 1 <span class="point label-success"></span> Value 1</p>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
          <h4>{{yesterday | date:'mediumDate'}}</h4>
          <div class="panel panel-danger">
              <div class="panel-heading">
                  <h3 class="panel-title">Summary</h3>
              </div>
              <div class="panel-body">
                  <p>EVENT_ERR: 1</p>
                  <p>EVENT_OK: 1233</p>
                  <p>LAST_EVENT: 8/12/2015</p>
                  <p>FixCount: 1</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <h4>{{twoDaysBefore | date:'mediumDate'}}</h4>
          <div class="panel panel-success">
              <div class="panel-heading">
                  <h3 class="panel-title">Summary</h3>
              </div>
              <div class="panel-body">
                  <p>EVENT_ERR: 0</p>
                  <p>EVENT_OK: 1233</p>
                  <p>LAST_EVENT: 8/12/2015</p>
                  <p>FixCount: 1</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">

      </div>
  </div>

</div>
